mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}
h3 {
  text-align: center;
}

.buttons-div {
  width: 70%;
  margin: auto;
  padding: 5%;

}
button {
  width: 100%;
  margin: auto;
  margin-top: 1rem;
}

 mat-card {
   width: 50%;
   margin: auto;
 }

 .login-div{
   width: 80%;
   margin: auto;
 }

