<mat-card style="margin-bottom: 10px;">
  <img src="../../assets/images/Logo_GRUNECO_R.jpg">
</mat-card>
<mat-card>
  <h1 style="text-align: center;">¡BIENVENIDOS!</h1>
  <br>
  <p style="text-align: center; font-size:x-large;">Bienvenidos al sistema de gestión de bioseñales para el grupo de neuropsicología y conducta (GRUNECO).
    Con esta plataforma es posible almacenar, consultar, editar y eliminar información de pacientes y sus
    respectivas bioseñales. Para lo anterior se hace uso de herramientas de almacenamiento en la nube lo
    cual garantiza la integridad y la disponibilidad de los datos existentes desde cualquier lugar del mundo.
  </p>
  <p style="text-align: center; font-size:x-large;">Contacto: estiven.rendon@udea.edu.co</p>
</mat-card>
